
{% extends "main.html" %}

{% block header %}
    <h1>{{ header_text }}</h1>
{% end %}

{% block body %}
    {% module Hello() %}
    <div id="hello">
        <p>Welcome to Burt's Books! </p>
        <form method="post" action="/poem">
            <p>Book Name<br><input type="text" name="noun1"></p>
            <p>Desc<br><input type="text" name="noun2"></p>
            <p>Price<br><input type="text" name="verb"></p>
            <p>Pages<br><input type="text" name="noun3"></p>
            <input type="submit">
        </form>
    </div>
{% end %}
